<IfModule mod_headers.c>
 <FilesMatch "\.(html|jpg)$">
  Header add "Cache-Control" "no-store"
  SetEnv no-gzip 1
 </FilesMatch>
</IfModule>


#Desabilita o ETag
Header unset Etag
FileETag none

Header unset Last-Modified