<IfModule mod_headers.c>
 <FilesMatch "\.(gif|jpg|png)$">
  Header add "Cache-Control" "max-age=60"
  #Header add "Cache-Control" "no-store"
 </FilesMatch>
</IfModule>

#Desabilita o ETag
Header unset Etag
FileETag none
